<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hpgl2Gcode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <Hpgl2Gcode.Properties.Settings>
            <setting name="Speed" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="HomeAxes" serializeAs="String">
                <value />
            </setting>
            <setting name="PenUp" serializeAs="String">
                <value>G1 Z5 F50</value>
            </setting>
            <setting name="PenDown" serializeAs="String">
                <value>G1 Z-1 F50</value>
            </setting>
            <setting name="IgnoreVelocity" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="VelocityScale" serializeAs="String">
                <value>40.2</value>
            </setting>
            <setting name="HpglPpmm" serializeAs="String">
                <value>40.18</value>
            </setting>
        </Hpgl2Gcode.Properties.Settings>
    </applicationSettings>
</configuration>
